
<%= stylesheet_link_tag "websites", :media => "all" %>


  <div class="container">
    <br>
    <br>

    <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Coronavirus Contagem   🇦🇴

      </h1>
      <br>
      <h3 class="subtitle">
        A doença por coronavírus (COVID-19) é uma doença infeciosa causada pelo vírus SARS-CoV-2.
A maioria das pessoas que contraem a COVID-19 tem sintomas ligeiros a moderados e recupera sem necessitar de tratamento especial. No entanto, algumas ficam gravemente doentes e necessitam de assistência médica.
      <br>  
      <br>
      <div align="center">
        <%= image_tag("https://symbols.getvecta.com/stencil_248/4_coronavirus-5.a3153faa12.svg" , width: "150") %>
      </div>
      </h3> 


   
    </div>
  </div>
</section>

<br>
<br>

<h1>Relatorio diario dos casos de coronavirus em Angola</h1>
<br>
<br>

<div class="columns  is-multiline is-mobile">
  <div class="column">
    <article class="message is-danger">
  <div class="message-header">
    <p>  Mortes</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
  <%= JSON.parse(@responseapi)['data']['deaths'] %>

  </div>
  </article>
  </div>


  <div class="column">
     
     <article class="message is-info">
  <div class="message-header">
    <p>Localização</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
  <%= JSON.parse(@responseapi)['data']['location'] %>

  </div>
</article>
  </div>



  <div class="column">
   <article class="message is-warning">
  <div class="message-header">
    <p> Numeros de casos confirmados </p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
  <%= JSON.parse(@responseapi)['data']['confirmed'] %>

  </div>
</article>

  </div>


  <div class="column">
     <article class="message is-info">
  <div class="message-header">
    <p> Ultima verficação </p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
  <%= JSON.parse(@responseapi)['data']['lastChecked'] %>

  </div>
</article>
    
  </div>


</div>

</div>
