
<style>

  hr {
      border: none;
      background-color: tranparency;
  }

  .form-control {
  display: inline;
}


  .card-header {
      background-color: #cc33ff;
      color: white;
      border-radius: 10px 100px / 120px;
  }

  .card-content {

      font-size: 20px;
  }


  .espaçamento {
      padding-top: 30px;
  }


  .card-header-title {

      color: white;
  }
  </style>



<br>

<center>
<div class="container">
<section class="hero is-medium is-light">
  <div class="hero-body">
    <p class="title">
COMUNIDADE ANGOLANA DE INFORMATICA NS TOOL 
    </p>
    <p class="subtitle">
     Com esta ferramenta pode verificar as seguintes informações do host .

    </p>


    <hr>
    
  <p>
    <hr> A: o endereço IPv4 do domínio.</hr>
   <hr> CNAME: o nome canónico — permitindo que um nome de domínio mapeie para outro. Isto permite que mais de um website se refira a um único servidor web.</hr>
   <hr> NS: um ou mais registos de servidores de nomes autoritários para o domínio.</hr>
    <hr>MX: o servidor que trata o e-mail para o domínio</hr>
   .</p>

  <small> Use apenas nomes de host disponíveis ou o aplicativo gerará um erro de tela vermelha | Please only use available hostnames or else the app will raise a red screen error</small>
</div> 
  </div>
</section>

<br>

<!-- Creating a unless method to display the styled container from the instance variable @nohost -->

   <%=  @nohost %>

<br>
<div class="espaçamento">

  </div>
 
  </h1>
<br>
<div class="title is-2">Check your dns  | Verifique o seu dns   </div>

<%= form_tag  suportes_path do |form| %>
  <br>
  <%= text_field_tag "hostname", @hostname, class: "input is-link" , style: "width: 50%;", required: 'required', placeholder: "Host must contain suffix .com .net .ao .biz .org" %>
  <%= submit_tag "Search" , class: "button  is-warning" %>
<% end %>
<br>
<br>
<div class="espaçamento">

  </div>

</center>
<br>


<div class="container">
 <div class="columns is-mobile is-multiline ">
   <%  @output.each do |s| %>
   
<div class="column">

  <header class="card-header">
    <p class="card-header-title">
         Server 

    </p>
 
  </header>
  <div class="card-content">
    <div class="content">
        <%= s.server %>

    </div>
  </div>
</div>


  <% end %>

  
<%  @queryoutput.each do |s| %>


 


  <div class="column">

  <header class="card-header">
    <p class="card-header-title">
        Name Server

    </p>
 
  </header>
  <div class="card-content">
    <div class="content">
<%= s.domainname %>
    </div>
  </div>

 </div>


    <% end %>

  

<br>

<% @queryoutputmx.each  do |s| %>

 


  <div class="column">

  <header class="card-header">
    <p class="card-header-title">
 Mail Server 

    </p>
 
  </header>
  <div class="card-content">
    <div class="content">
  <%= s.exchange %>

    </div>
    </div>

 </div>


  <% end %>





<% @queryoutputcn.each do |file| %>


  <div class="column is-mobile">

  <header class="card-header">
    <p class="card-header-title">
CNAME

    </p>
 
  </header>
  <div class="card-content">
    <div class="content">
   <%=  file.cname %>
     </div>
    </div>

 </div>
<% end %>

  <!-- end of column -->
 </div>
</div>  
</center>
