<br>
<br>
    <div class="container">

      <h1 class="title is-1">
      	Editar blog
      </h1>
<%= form_with(model: @blog, local: true) do |form| %>

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :titulo, class: "label" , style: "color: white;" %><br>
     </div>
     <div class="field">
        <div class="control">
    <%= form.text_field :titulo, class: "input", placeholder: "Text Input" %>
  </div>
</div>

<div class="field">
  <%= form.label :image_url , class: "label" , style: "color:white;"%>
  </div>
    <div class="field">
      <%= form.text_field :image_url , class: "input", placeholder: "Url Input" %>
      </div>

        <div class="field">
        	<% form.file_field :avatar , class: "file"  %>
        	</div>

  <p>
    <%= form.label :texto, class: "label" , style: "color: white;"%><br>
      <div class="control">
    <%= form.text_area :texto, class: "textarea",  rows: "20"  %>
      </div>
  </p>
 <br>
<div class="control">
    <%= form.submit  "Submeter", class: "button"%>
    <%= link_to 'Back', blogs_path  , class: "button"%>
</div>
<% end %>



    </div>
