
<br>
<br>
<div class="container">
<h1 class="title is-1"> Blog</h1>
<h1 class="subtitle is-1">Atualize-se sobre as  novas tecnologias</h1>
<div class="buttons has-addons">
  <%= link_to "Casa", root_path , class: "button" %>
   <%= link_to 'Administrador', new_blog_path, class: "button is-primary is-selected"%>
</div>
 </div>
<div  class="columns is-mobile is-multiline is-centered" >

<% @blogs.each do |f| %>




<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= f.titulo%>
      </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
              <%= fa_icon "angle-down" %>

      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content" >
      <div  align="center" >

       <%= truncate( f.texto, :length => 40, :separator => ' ') %>
     </div>
    </div>
  </div>
  <footer class="card-footer">
    <a><%= link_to "Ver", blog_path(f), class: "card-footer-item"%></a>
    <a  ><%= link_to 'Editar', edit_blog_path(f), class: "card-footer-item" %></a>
    <a ><%= link_to 'Apagar', blog_path(f),
              method: :delete,
              data: { confirm: 'Are you sure?' } , class: "card-footer-item"%></a>
  </footer>
</div>
<% end %>
 </div>


 <% 10.times do  %>
 <br>

 <% end %>
