
<%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>

<!-- start of the container -->

<div class="container">

  <!-- hero link -->
   <section class="hero is-link">
     <div class="hero-body">
    <p class="title">
      Publicações
    </p>
    <p class="subtitle">
      Visualize as nossas publicações e adicione comentarios .
    </p>
  </div>
  </section>
   <br>

   <!-- admin  access bottom  -->
     <div class="buttons has-addons">
    
  
    <%= link_to 'Criar', new_blog_path, class: "button is-selected"%>
  </div>


  <!-- search bar for blog -->
  
  <div id="searchcontainer">


       <%= form_tag(blogs_path, :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Encontre uma publicação", class: "input is-info" , style: "width: 50%;" %>
       <%= submit_tag "Procurar",  class: "button " %>
  <% end %>
  </div>

  <!-- end of container -->
  </div>

<br>
<br>

<!-- column cards start -->
<div class="columns is-mobile is-multiline is-centered" >


  <!-- each loop method to display every card -->
<% @blogs.each do |f| %>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <%= link_to blog_path(f) do %>
      <%= image_tag f.image_url%>
      <% end %>

  </figure>
</div>

  <header class="card-header">
    <p class="card-header-title">
      <%= truncate(  f.titulo, :length => 35, :separator => ' ')  %>

      </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
              <%= fa_icon "angle-down" %>

      </span>
    </a>
  </header>
  <div class="card-content " align="center">
    <div class="contentblog">
       Posted <%=  time_ago_in_words(f.created_at)   %> ago

    </div>
  </div>


</div>

<!-- end of the each loop -->
<% end %>
<!-- end of the columns grid -->
</div>
 


<!-- javascript pagination -->
<br>
<div class="container">
<%== pagy_bulma_nav(@pagy) %>
</div>
