
<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1 class="title is-1"> Blog</h1>
<h1 class="subtitle is-1">Atualize-se sobre as  novas tecnologias</h1>
<div class="buttons has-addons">
  <%= link_to "Casa", root_path , class: "button" %>
   <%= link_to 'Administrador', new_blog_path, class: "button is-primary is-selected"%>
</div>


<div class=" table is-hoverable " style="display: grid;
  justify-content: space-around;">
    <table class="table">
    <% @blogs.each do |f| %>

<thead>
  <tr>
    <th> Titulo  </th>
    <th>Texto </th>
  </tr>

</thead>
<tbody>
  <tr>
    <th><%= f.titulo%></th>
  </tr>

</tbody>

<tfoot>
   <tr>
  <th> <%= link_to "Ver", blog_path(f)%></th>
   <th><%= link_to 'Edit', edit_blog_path(f) %></th>
    <th><%= link_to 'Destroy', blog_path(f),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></th>
</tr>
  </tfoot>

<% end %>

 

          </table>
</div>
</div>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
