<body>
	<div class="container">
<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       <%= @blog.titulo%>
      </h1>
      <h2 class="subtitle">
             <%= @blog.texto%>
      </h2>
			<figure class="image ">
				<%= image_tag @blog.image_url%>

			</figure>

    </div>
  </div>
</section>

<br>
<br>
<br>
<div class="title">
Comentarios
</div>



<%=render 'comentarios/comentario' %>

<div class="title">
Adicionar Comentarios
</div>

<%=render 'comentarios/form' %>

<%= link_to 'Editar', edit_blog_path(@blog) %> |
<%= link_to 'Voltar', blogs_path %>
</div>
</body>
<br>
