<%= stylesheet_link_tag "blogs", :media => "all" %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<body>

	<div class="container" >
	 <div class="w3-container">
<br>
<div class="w3-panel w3-leftbar w3-light-grey">
  <figure class="image is-128x128" style="float: left;">
    <%= image_tag ("logo_blog.png"), class: "is-rounded" %>
  </figure>
  <br>
    <p class="w3-xxlarge w3-serif"><i>"Espero que você goste deste artigo."</i></p>
    <p>Comunidade Angolana de Informatica </p>
  </div>
</div>
	  <br>
	 <h1 class="w3-xxlarge w3-serif">
	   <center>
       <%= @blog.titulo%><hr>
       </center>
	 </h1>
	 <br>
	 <div align="center" >
	<%= image_tag @blog.image_url, style: "padding:16px;width:60%;", class: "w3-border" %>
	</div>		
	<br>
	<br>
	<%= @blog.texto %><hr>

	


<br>
<br>
<br>


<%=render 'comentarios/comentario' %>

<div class="title">
Adicionar Comentarios
</div>

<%=render 'comentarios/form' %>
<br>
<br>
<%= link_to  edit_blog_path(@blog), class: "button is-primary is-small" do %>
<%= fa_icon "pencil" %>
<% end %>

<%= link_to  blogs_path, class: "button is-primary is-small" do %>
<%= fa_icon "undo" %>

<% end %>
</div>
</body>
<br>
<br>
