<%= stylesheet_link_tag "blogs", :media => "all" %>

<body>
	<div class="container">
<section class="hero is-medium is-light ">
  <div class="hero-body">
    <div class="container">

      <h1 class="title">
       <%= @blog.titulo%>
      </h1>
			<figure class="image is-16by">
				<div class="imagemblog">
				<%= image_tag @blog.image_url%>
				</div>
			</figure>
			<br>
			<br>
						 <%= simple_format(@blog.texto) %>


    </div>
  </div>
</section>

<br>
<br>
<br>
<div class="title">
Comentarios
</div>



<%=render 'comentarios/comentario' %>

<div class="title">
Adicionar Comentarios
</div>

<%=render 'comentarios/form' %>
<br>
<%= link_to 'Editar', edit_blog_path(@blog), class: "button is-primary is-small" %> |
<%= link_to 'Voltar', blogs_path, class: "button is-primary is-small" %>
</div>
</body>
<br>
