<body>
	<div class="container">
  <section class="section">
    <div class="container">
      <h1 class="title">    	 
       <%= @blog.titulo%>
</h1>
      <h2 class="subtitle">
             <%= @blog.texto%>

      </h2>
    </div>
  </section>


<h2>Comentarios</h2>



<%=render 'comentarios/comentario' %>

 
<h2>Adicionar</h2>

<%=render 'comentarios/form' %>
 
<%= link_to 'Editar', edit_blog_path(@blog) %> |
<%= link_to 'Voltar', blogs_path %>
</div>
</body>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
