<!-- Blog index page displaying all the posts is in production -->

<!-- this style links too the application.scss.css --->
<%= stylesheet_link_tag "blogs", :media => "all" %>


<body>
  
	<div class="container" >
	 
	  <br>
	 <section class="hero is-link is-smally">
	   <div class="hero-body">
	           <div align="center">

    <p class="title">
             <%= @blog.titulo%>
    </p>
        </div>

  </div>
</section>
	 <br>
	 <br>
	 <div align="center" >
	   <!-- Image is displayed by url link --->
	<%= image_tag @blog.image_url, style: "padding:16px;width:60%;", class: "w3-border" %>
	</div>		
	<br>
	<br>
	<%= @blog.texto %><hr>

	<br>
	<br>

	<!-- Need to change the time ago method for portugues -->
	<center>
	  <small>
	    Posted <%= time_ago_in_words(@blog.created_at) %>  ago
	    </small>
	  </center>
<br>

<!-- Comments sections --->
  <section class="hero is-small is-link">
  <div class="hero-body ">
    <p class="title">
      Comentarios
    </p>
  
  </div>
  </section>
  <br>
  
<%=render 'comentarios/comentario' %>

<div class="title">
Adicionar Comentarios
</div>

<%=render 'comentarios/form' %>
<br>
<br>

<%= link_to  "Voltar", blogs_path, class: "button " %>

<%= link_to "Editar", edit_blog_path(@blog), class: "button "  %>


  <%= link_to "Apagar",  @blogs,
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "button" %>

</div>
</body>
<br>
<br>
