
<div class="container">
<!--- start of container --->

<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
       Produtos 
    </p>
    <br>
    <p class="subtitle">
      Esta é a lista de produtos disponiveis
      <br>
      <br>
      Se não possuir meios financeiros para os produtos  a cai também aceita suporte  e partilha da nossa causa para mais pessoas <i class="fa fa-heartbeat" aria-hidden="true"></i>
      <br>
      <br>
      <%= link_to "Criar Produtos ",  products_path , class: "button is-warning" %>
      <%=link_to 'Novo Item', new_product_path , class: "button is-info" %>
           <div id="card">
<%= render 'cards/card' %>
 </div>

    </p>
  </div>
</section>
<% 5.times do %>
<br>
<% end %>


<div class="columns is-multiline is-centered is-mobile">
<!--- Start of the collumn  -->
            <% @products.each do |product| %>

  <div class="column is-one-third">
<!--- Start of the card--->

    <div class="card">

  <div class="card-image">
    <figure class="image is-4by3">
            <%= image_tag product.imagelink %>

    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
          <%= form_for @order_item, remote: true  do |f| %>
    <%= f.hidden_field :product_id, :value => product.id  %>

    <%= f.number_field :quantity, :value => 1 , :min => 1 , class: "input is-info  " , style: "width: 50px;" %>

    <%= f.submit "+" , class: 'button is-success' %>

    <% end %>
        <br>
      </div>
      <div class="media-content"> 
        <p class="title is-4"><%= product.titulo %></p>
        <p class="subtitle is-6"><%= product.preco %> Mil KZ</p>
      </div>
    </div>

    <div class="content">
 Informção do artigo <a></a>
     <hr>
      <a href="#"><%= link_to 'Show', product, class: "button is-info" %></a> <a href="#"><%= link_to 'Edit', edit_product_path(product), class: "button is-warning" %></a><a ><%= link_to 'Apagar', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %></a>
      <br>
   <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>


</div>
<!--- Start of the card  -->

  </div>
<!--- Start of the collum -->
<% end %>

</div>
<!--- Start of the collumns multiline  -->
  
<!-- end of container -->
</div>