<style>


.imagem {
    width: 150px;
    height: 120px;
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
 


}


</style>


<div class="container">

<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
       Produtos 
    </p>
    <br>
    <p class="subtitle">
      Esta é a lista de produtos disponiveis
      <br>
      <br>
      Se não possuir meios financeiros para os produtos  a cai também aceita suporte  e partilha da nossa causa para mais pessoas <i class="fa fa-heartbeat" aria-hidden="true"></i>
      <br>
      <br>
      <%= link_to "Criar Produtos ",  products_path , class: "button is-warning" %>
    </p>
  </div>
</section>

<br>
<br>

<div align="center">
<div class="table-container">
<table class="table">
  <thead>
    <tr>
      <th>Serviço</th>
      <th>Preço</th>
      
      
      <th colspan="1"></th>
      <th>Quantidade </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="subtitle "><%= product.titulo %></td>
        <td class="subtitle "><%= product.preco %> Kz </td>
	<td>
	<div class="imagem">
      <%= image_tag product.imagelink %>
	</div>

	</td>
	<td>
	  <%= form_for @order_item, remote: true  do |f| %>
	  <%= f.hidden_field :product_id, :value => product.id  %>

	  <%= f.number_field :quantity, :value => 1 , :min => 1 , class: "input" , style: "width: 80px;" %>

	  <%= f.submit "Adicionar no carrinho" , class: 'button ' %>

	  <% end %>
	</td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>

<br>

<section class="hero is-link is-small">
  <div class="hero-body">
     <div id="card">
<%= render 'cards/card' %>
 </div>
</div>

</section>
</div>
