<style>


.imagem {
    width: 150px;
    height: 120px;
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  float: left;
 


}


</style>


<div class="container">

<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
       Productos 
    </p>
    <p class="subtitle">
      Esta é  a lista de produtos disponiveis
    </p>
  </div>
</section>
<br>

<div align="center">
  <p id="notice"><%= notice %></p>
<div class="box">
	<div class="imagem">
      <%= image_tag @product.imagelink %>
	</div>

  <div class="title ">Produto
    <div class="subtitle">
      <%= @product.titulo %>
    </div>
    </div>


  <div class="title">Preço
  <div class="subtitle">
  <%= @product.preco %> Kz
  </div>
  </div>
</div>
<%= link_to 'Edit', edit_product_path(@product) ,class: "button" %>
<%= link_to 'Voltar', shops_path , class: "button" %>
</div>
