<div class="columns is-mobile is-multiline is-centered" >

<% @blog.comentarios.each do |comentario| %>


<div class="card">
  <div class="card-content">
    <p>
      <%= fa_icon "user" %>
 <%= comentario.comentariador  %>

      </p>

    <p>

<%= fa_icon "comments" %>

    <small> <%= comentario.corpo.rich_text_area %></small>
 </p>
   </div>

   <footer class="card-footer">
    <p class="card-footer-item">
      <span>
      	  <%= link_to  [comentario.blog, comentario],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: "button is-danger is-small" do  %>
               <%= fa_icon "trash" %>
               <% end %>
      </span>
    </p>

  </footer>

</div>
<% end %>

</div>
<br>
