
<% @blog.comentarios.each do |comentario| %>
<br>
<article class="media">
 
  <div class="media-content">
    <div class="content">
      <p>
        <strong> <%= comentario.comentariador  %></strong>  <small> Criado em : <%= comentario.created_at %></small>
        <br>
	  <small>  <%= sanitize comentario.corpo %> </small>
	  
      </p>
    </div>
    <nav class="level is-mobile">
    </nav>
  </div>
  <div class="media-right">
      <%= link_to  [comentario.blog, comentario],
               method: :delete,
               data: { confirm: 'Are you sure?' } do  %>
               <%= fa_icon "trash" %>
               <% end %>
  </div>
</article>
<br>
<br>
<% end %>
