
<% @blog.comentarios.each do |comentario| %>
<br>
<article class="media" style="border-bottom: 0.5px solid black;">
 
  <div class="media-content">
    <div class="content">
      <p>
        <%= fa_icon "user" %>  <%= comentario.comentariador  %>   <div><%= fa_icon "calendar" %>  <%= comentario.created_at %></div>
        <br>
	  <small>  <%= sanitize comentario.corpo %> </small>
	  
      </p>
    </div>
    <nav class="level is-mobile">
    </nav>
  </div>
  <div class="media-right">
      <%= link_to  [comentario.blog, comentario],
               method: :delete,
               data: { confirm: 'Are you sure?' } do  %>
               <%= fa_icon "trash" , style: "color: red;" %>
               <% end %>
  </div>
</article>
<br>
<br>
<% end %>
