<%= form_with(model: [ @blog, @blog.comentarios.build ], local: true) do |form| %>


<div class="field">
  <label class="label">  <%= form.label :Utilizador %></label>
  <div class="control">
        <%= form.text_field :comentariador, placeholder: "Insira o nome", class: "input" , style: 'width: 20%; '%>

  </div>
</div>

<div class="field">
  <label class="label"><%= form.label :Mensagem%></label>
  <div class="control">
    <%= form.rich_text_area :corpo , placeholder: "Insira o texto", class: "textarea"  %>

  </div>
</div>
  <%= form.submit "Publicar",  class: "button"  %>

<% end %>
