<div class="container">
  <center>
    <br>

    
    <p id="notice"><%= notice %></p><p>

      <section class="hero is-small is-link">
  <div class="hero-body">
    <p class="title">
  <%= @todo_list.title %>

    </p>
    <br>
    <p class="subtitle">
  <%= @todo_list.description %>

    </p>
  </div>
  
</section>

    <br>
    <div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <br>
 <div id="form">
  <%= render "todo_items/form" %>
 </div>
 <br>
</div><%= link_to 'Editar', edit_todo_list_path(@todo_list), class:"button" %> 
<%= link_to 'Voltar', todo_lists_path, class: "button" %>
</center>
</div>
