<head>

<%= stylesheet_link_tag "aulas", :media => "all" %>

<%= csrf_meta_tags %>
</head>
<body>
   <br>
  <div class="table  " align="center">

        <%= link_to  aulas_index_path(date: @date - 1.month) do %>
        <span class="icon">
          <%= fa_icon "arrow-left" %>

        </span>
        <% end %>
        <%= "#{@date.strftime("%B")} #{@date.year}" %>
        <%= link_to  aulas_index_path(date: @date + 1.month) do %>
        <span class="icon">
          <%= fa_icon "arrow-right" %>

        </span>
        <% end %>

        <%= calendar @date do |date| %>
        <%= date.day %>
        <% end %>

        </div>



        <br>
              <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-narrow">
            <div class="box" style="width: 200px;">
              <p class="title is-5"> Internet</p>
              <p class="subtitle">Conheça o mundo cibernetico . </p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box" style="width: 200px;">
              <p class="title is-5">Segurança</p>
              <p class="subtitle"> Aprenda a navegar sem preocupação de hacking . </p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <p class="title is-5">Redes</p>
              <p class="subtitle">Saiba como os equipamentos informaticos se comunicam para criar a internet .</p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <p class="title is-5">Software</p>
              <p class="subtitle">Conheça os diversos programas utlizados no dia a dia .</p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <p class="title is-5">Hardware</p>
              <p class="subtitle">Saiba como os circuitos de uma motherboard funciona </p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <p class="title is-5">Smartphone</p>
              <p class="subtitle">Estude os conteudo para configuração</p>
            </div>
          </div>
        </div>
       
</body>
