    <%= stylesheet_link_tag    'virus', media: 'all', 'data-turbolinks-track': 'reload' %>


<div class="container">

    
<section class="hero is-link">
  <div class="hero-body">
      <h1 class="title">
        Fique em casa 🏠
      </h1>
      <h2 class="subtitle">
        Se protege contra o covid-19 🤢
      </h2>
      <h3 >
        <%=  @nostatus %>
        </h3>
    </div>
</section>

  <div  class="columns is-mobile is-multiline is-centered" >

    <div class="card">
  <div class="column">
  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-info">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Mundo Casos </p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%=  @totalcases %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-info">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Angola Casos </p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%=  @totalcasesangola %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-info">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Brazil Casos </p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%=  @brazilestado %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>

  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-info">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Portugal Casos </p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%= @portugalestado %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-danger">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Mundo Mortes</p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%= @totaldeaths %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>

  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-danger">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Angola Mortes </p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%=  @totaldeathsangola%> </p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-danger">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Brazil Casos </p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%= @brazilmorte %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-danger">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Portugal Mortes</p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%= @portugalmortes%></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-success">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Mundo Recuperados</p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%= @totalrecoverd  %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-success">
<div class="message-header" >
        <p class="title is-info"style="color: white;">Angola  Recuperados</p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%= @totalrecoverdangola%></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-success">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Brazil Recuperados</p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%=  @brazilrecuperados  %></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>
  <div class="card">

  <div class="column">

  <div class="level-item has-text-centered">
    <div>
      <article class="message is-small  is-success">
<div class="message-header" >
      <p class="title is-info"style="color: white;">Portugal Recuperados</p>
      </div>


       <div class="message-body" >
      <p class="title is-small"  >    <%= @portugarecuperados%></p>
      </div>

      </article>
    </div>
  </div>
  </div>
  </div>


</div>
  </div>


