
<footer class="footer is-dark" >

  <div class="columns">
    <div class="column">
     <div class="col-sm-3">
                <h5>Começe</h5>
                <ul>
                    <li>Casa</li>
                    <li>Agenda</li>
                    <li>Informações Gerais</li>
                </ul>
            </div>
        </div>
         <div class="column">
            <div class="col-sm-3">
                <h5>Sobre nos</h5>
                <ul>
                    <li>Informação da Compania</a></li>
                    <li>Entre em contacto</a></li>
                    <li>Avalie</a></li>
                </ul>
            </div>
        </div>

                 <div class="column">
<center>

      <div class="is-size-4" style="color: lightgreen;"> <%= @ahoy %>    </div> visitas na pagina
          </center>

        </div>
                 <div class="column">

            <div class="col-sm-3">
                <h5>Apoio</h5>
                <ul>
                    <li>FAQ</li>
                    <li>Help desk</li>
                    <li>Forums</li>
                </ul>
            </div>
        </div>
         <div class="column">

    <div class="second-bar">
       <div class="container">
            <h2 class="logo"> Heisler inc </h2>
            <a href="https://bulma.io">
              <img src="https://bulma.io/images/made-with-bulma--semiwhite.png" alt="Made with Bulma" width="128" height="24">
</a>
                  <div class="is-size-7"> Heisler Jorge de Lemos Stlano &copy; ruby-2.7.0 2020 </div>

            <div class="social-icons">
                <div class="icon"><i class="fa fa-twitter"></i></div>
                  <div class="icon"><i class="fa fa-facebook"></i></div>
                    <div class="icon"><i class="fa fa-google-plus"></i></div>
            </div>

                        <div class="buttons  has-addons is-centered" >

                    <%= link_to "#", :class => "button is-success" do %>

                <span class="icon is-small">

               <%= fa_icon "firefox" %>

                </span>
                <span class="icon is-small">

               <%= fa_icon "chrome" %>


                </span>

                    <span class="icon is-small">

                   <%= fa_icon "opera" %>

                    </span>
                <% end %>
                <%= link_to "#", :class => "button is-danger" do %>
                <span class="icon is-small">

               <%= fa_icon "internet-explorer" %>

                </span>
                <span class="icon is-small">

               <%= fa_icon "edge" %>


                </span>

            <% end %>
            </div>
   </div>
</div>
</div>



    </div>

  </div>
</footer>
