
<footer class="footer is-light" >

  <div class="columns">
                 <div class="column">
<center>

      <div class="is-size-4" style="color: green;"> <%= @ahoy %>    </div> visitas na pagina
          </center>

        </div>
                 <div class="column">

         <div class="column">

    <div class="second-bar">
       <div class="container">
            <p> Comunidade Angolana de Informatica </p>
     
                  <div class="is-size-7"> Heisler Jorge de Lemos Stlano &copy; ruby-2.7.0 2020 </div>

            <div class="social-icons">
                <div class="icon"><i class="fa fa-twitter"></i></div>
                  <div class="icon"><i class="fa fa-facebook"></i></div>
                    <div class="icon"><i class="fa fa-google-plus"></i></div>
            </div>

                        <div class="buttons  has-addons is-centered" >

                    <%= link_to "#", :class => "button is-success" do %>

                <span class="icon is-small">

               <%= fa_icon "firefox" %>

                </span>
                <span class="icon is-small">

               <%= fa_icon "chrome" %>


                </span>

                    <span class="icon is-small">

                   <%= fa_icon "opera" %>

                    </span>
                <% end %>
                <%= link_to "#", :class => "button is-danger" do %>
                <span class="icon is-small">

               <%= fa_icon "internet-explorer" %>

                </span>
                <span class="icon is-small">

               <%= fa_icon "edge" %>


                </span>

            <% end %>
            </div>
   </div>
</div>
</div>



    </div>

  </div>
</footer>
