<style>
.active {
    color: lightgreen;
}


  </style>


<link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <div id="mainheader">

    <div class="logo">
            <%= link_to  image_tag("logo_blog.jpg" , width: "100"), root_path %>  

    </div>
    <div class="menu">
      
 <%= link_to  fa_icon("home", style: "color: black") , root_path  , id: ("active" if current_page?(root_path))   %>
 <%= link_to "Agenda", subscribers_path  , id: ("active" if current_page?(subscribers_path))   %>

    <%= link_to "Blog", blogs_path , id: ("active" if current_page?(blogs_path)) %>
    <%= link_to "Noticias", stories_top_path , id: ("active" if current_page?(stories_top_path))%>
    <%= link_to "Preços", pdfjs.full_path(file: "/Preçario.pdf"), id: "nav-link",  target: "_blank"%>
    <%= link_to "Administração", subscribers_show_path , id: ("active" if current_page?(subscribers_show_path)) %>
    <%= link_to "Sobre Nos",  informations_index_path  , id: ("active" if current_page?(informations_index_path))%>
    <%= link_to fa_icon('github') , "https://github.com/heislerlemos" ,   target: "_blank" %>
    <%= link_to fa_icon('facebook'), "https://www.facebook.com/wesley.lemos.33/", target: "_blank" %>
    <%= link_to fa_icon('twitter'), "https://twitter.com/heisler_lemos", target: "_blank" %>

      </div>
      </div>
</div>

<% 5.times do %>
<br>
<% end %>
  
