<style>

.topnav input[type=text ] , #button  {
  float: right;
  padding: 3px;
  border: none;
   margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
  height: 35px;
  border-style:   solid;
  background-color: lightgrey;
  border-color: black;


   
}


#button {

  border-style: solid;
  border-color: black;     
}

::placeholder {
    color: black;

    
}




  .logo img {
      float:left;
  }

  
.topnav {
     margin-left:auto;
  margin-right:auto;
}

  
</style>



    <div class="logo">
      <%= link_to  image_tag("logo_blog.jpg" , width: "70"), welcomes_index_path %>  
    </div>
    
    <div class="topnav" id="myTopnav">



       <%= form_tag(blogs_path, :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Encontre uma publicação", size: "75" %>
  <%= submit_tag "Procurar", id: "button" %>
      <% end %>


    <%= link_to "Agenda", subscribers_path  , class: ("active" if current_page?(subscribers_path)) %>
    <%= link_to "Blog",root_path , class: ("active" if current_page?(root_path)) %>
     <%= link_to "Noticias", stories_top_path , class: ("active" if current_page?(stories_top_path))%>
            <% link_to "Websites", websites_index_path %>
                    <% link_to "Sistemas", sistemas_index_path %>
                <% link_to "Aulas", aulas_index_path %>
                <% link_to "Suporte", suportes_index_path %>
                         <% link_to "Redes", redes_index_path %>
                                    <% link_to"Covid-19", virus_index_path , class: ("active" if current_page?(virus_index_path))%>
                                        <% link_to "Mapa", abouts_index_path , class: ("active" if current_page?(abouts_index_path))%>
                                          <%= link_to "Sobre Nos",  informations_index_path  , class: ("active" if current_page?(informations_index_path))%>
					  
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>	  

  </div>
   

  <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
