<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>


  <!-- Simulate a smartphone / tablet look -->

  <!-- Top Navigation Menu -->
  <div class="topnav">
   <%= link_to "Comunidade Angolana de Informática",  welcomes_index_path  , class: ("active" if current_page?( welcomes_index_path))  %>

    <%= link_to "Agenda", subscribers_path  , class: ("active" if current_page?(subscribers_path)) %>
    <%= link_to "Blog",root_path , class: ("active" if current_page?(root_path)) %>
     <%= link_to "Noticias", stories_top_path , class: ("active" if current_page?(stories_top_path))%>
            <% link_to "Websites", websites_index_path %>
                    <% link_to "Sistemas", sistemas_index_path %>
                <% link_to "Aulas", aulas_index_path %>
                <% link_to "Suporte", suportes_index_path %>
                         <% link_to "Redes", redes_index_path %>
                                    <%= link_to"Covid-19", virus_index_path , class: ("active" if current_page?(virus_index_path))%>
                                        <% link_to "Mapa", abouts_index_path , class: ("active" if current_page?(abouts_index_path))%>
                                          <%= link_to "Sobre Nos",  informations_index_path  , class: ("active" if current_page?(informations_index_path))%>
  </div>
  <!-- End smartphone / tablet look -->
