   <header>

      <nav class="navbar  is-dark">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <%= link_to image_tag("logo_website.png", :alt => "logo", :size => "152x128"), root_path %>
    </a>
 
  </div>

  <div class="navbar-menu" >
      <div class="navbar-item" >
             <% 2.times do  %>
              &nbsp; 
             <% end %>

              <%= link_to  subscribers_path, :class => "button is-light is-active" do %>
                <span id="span"><%= fa_icon "address-card" %> Agenda&nbsp;</span> 

              <% end %>
           
              <% 5.times do  %>
              &nbsp; 
             <% end %>
              <%= link_to root_path , class: "button is-light is-active" do %>
               <span id="span"><%= fa_icon "home" %> Casa &nbsp;</span> 

              <% end %>
                       <% 130.times do  %>
              &nbsp; 
             <% end %>
            <a class="button is-info is-light"  href="https://github.com/heislerlemos" >
              <span class="icon">
                <%= fa_icon "github" %>

              </span>
              <span>
                Github
              </span>
            </a>

      </div>

    </div>

  </div>
  </div>
</nav>
  </header>