<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});

  </script>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

   <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
          <%= link_to  image_tag("logo_v2.png", width: "112", height: "28"), root_path %>  

    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Portal Cliente", subscribers_path, class: "navbar-item"  %>
      <%= link_to "Tabela de preços", pdfjs.full_path(file: "/Preçario.pdf"),  target: "_blank", class: "navbar-item"%>
            <%= link_to "Blogs", blogs_path , class: "navbar-item" %>
	    <%= link_to "Haker News", stories_top_path , class: "navbar-item"%>
	               <%= link_to "Sobre Nos",  informations_index_path  , class: "navbar-item" %>

      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Rede Sociais
        </a>

        <div class="navbar-dropdown">
         
	  <%= link_to "Github", "https://github.com/heislerlemos" ,   target: "_blank" ,class: "navbar-item" %>


          <hr class="navbar-divider">
         	  <%= link_to "Facebook", "https://www.facebook.com/wesley.lemos.33/", target: "_blank", class: "navbar-item" %>

        </div>
      </div>
    </div>
 <div class="navbar-end">
   <div class="navbar-item">
     <%= link_to "Portal Administrativo", subscribers_show_path , class: "button is-warning" %>

       
      </div>
    </div>
  </div>
</nav>
  
