  <% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>

<html>
<head>
	<title>Hlemos</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
			<nav class="navbar is-dark">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <%= link_to image_tag("logo_website.png", :alt => "logo", :size => "152x128"), root_path %>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
   <!-- <div class="navbar-start">
      <a class="navbar-item" href="'welcomes#index">
        Home
      </a>-->
  <!---    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="abouts/index">
          About
        </a>
     
      </div> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://github.com/heislerlemos?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
              <span class="icon">
              	<%= fa_icon "github-alt" %>

              </span>
              <span>
                Github
              </span>
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</nav>
	</header>
	<section id="showcase">
		<div class="container">
			<h1>Web Applications Build </h1>

		</div>
	</section>
  <% if cookies[:saved_subscriber] %>
  Thanks for signing up !
  <% else %>
    <section id="newsletter">
          <div class="container">

      <h1>Subscribe to my newsletter</h1>
  <%= form_for @subscriber do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.select :source, ["Search Engine", "Social Media", "Word of Mouth", "Other"], prompt: "How did you hear about me ? " %>
    <%= f.submit "Create", class: "button is-success is-small" %>
  </div>
      </section>

    <% end %>
  <% end %>
<!---  
	<section id="newsletter">
		<div class="container"> 
			<h1>Subscribe to our newsletter</h1>
			<form>
				<input type="email" placeholder="Enter Email....">
				<button type="submit " class="button_1">Subscribe</button>

			</form>
		</div>
	</section>
-->

      <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Projects</h1>
          </div>
        </div>
      </section>

	<section id="boxes">
		<div class="container">
			<div class="card">
				<%= link_to image_tag("basler.png"), root_path %>
				  <div id="container1">
        <center>

        <a href="https://basler.herokuapp.com/">Basler IT - Info App</a>
        </center>

        </div>
			</div>

			<div class="card">
			  <%= link_to image_tag("maricostura.png"), root_path %>
			   <div id="container1">
                            <center>

                        <a href="https://maricosturainc.herokuapp.com/">Maricostura - Image App</a>

		      </center>
			</div>
			</div>

			<div class="card">
				<%= link_to image_tag("lamport.png"), root_path %>
							   <div id="container1">
                  <center>  
                <a href="https://lamport.herokuapp.com/">Lamport - Event App</a>

      </center>

			</div>
			</div>
			<div class="card">
				<%= link_to image_tag("turma.png"), root_path %>
				<div id="container1">
                  <center>  

				<a href="http://turma.herokuapp.com/chats/show">Turma - Chat App</a>
              </center>

			</div>
			</div>
		</div>
	</section>
	      	<br>  
      	 <br>
          <br>  
        <br>

      <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Information</h1>
          </div>
        </div>
      </section>
      <br>
      <br>
         <br>
      <br>
      
      
    <div class="block">
      <div class="columns">
        <div class="column">

      <article class="message is-info">
        <div class="message-header">
          <p>About me</p>
        </div>
        <div class="message-body">
          <small>My name is Heisler Lemos, i like to build websites and my favorite programing language is ruby.
           </small>
        </div>
      </article>
</div>

		        <div class="column">

            <article class="message is-info">
        <div class="message-header">
          <p>What i do</p>
        </div>
        <div class="message-body">
                    <small>CMS Front End and Full Stack Apps</small>

      </div>
        </div>
      </article>	
  </div>	



		        <div class="column">

            <article class="message is-info">
        <div class="message-header">
          <p>Goals to achive</p>
        </div>
        <div class="message-body">
         <center>Build a client's network</center>
      </div>
        </div>
      </article>	
  </div> 
  </div>
  </div>

  </div>


  </div>
 
    
	<br>
     <br>
      <br>
      
	<footer>
		 <center>
      <h5 style="color: lightgreen; font-size: 20px;"><small> Together against the Covid-19 </small></h5>

        <br>
          <small style="color: black">
        <div class="container is-fullhd">
  <div class="notification">

        <%= @statistics %>

          </div>
      </div>
      <br>
      <br>
        <div class="container is-fullhd">
  <div class="notification">
          <%= @angolastat %>

               </div>
      </div>
    </small>
      <br>
<figure class="image is-96x96">
	<%= image_tag("29663061_1521314127980563_8678170385192627763_o.jpg", class: "is-rounded") %>
</figure>
		<small>  You got 
      <h1 style="color: lightgreen; font-size: 25px; "><%= @ahoy %> </h1> 
      Visits on this website  </smal>
      <br>
      <div class="is-size-7"> Made with ruby on rails and bulma  Copyright &copy; 2019 | Contact heisler.lemos@gmail.com - +244 934 659 342</div>
		      </center>
	</footer>
</body>
</html>	