  <% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>


<html>
  
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>
	<title>[Heisler] </title>
</head>


<body>

	
	<section id="showcase">
		
    <div class="container">
      <hr>
      <hr>
			<h1 class="is-family-primary " style="  font-weight: bold; ">[Heisler] Como lhe posso ajudar ? </h1>
		</div>
	</section>
  <% if cookies[:saved_subscriber] %>
  Thanks for signing up !
  <% else %>
    <section id="newsletter">

<div align="center">

  <% end %>

      <section class="hero is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" align="center">Serviços </h1>
          </div>
        </div>
      </section>

      <br>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
                    <div align="center">

          <img src="https://img.icons8.com/clouds/100/000000/maintenance.png"/>
        </div>
          <p class="title">Websites</p>

          <p class="subtitle">Construção de websites </p>
        </article>
        <article class="tile is-child notification is-warning">
                    <div align="center">

          <img src="https://img.icons8.com/clouds/100/000000/online-support.png"/>
        </div>
          <p class="title">Sistemas</p>
          <p class="subtitle">Administração de sistemas </p>
          <div class="content">
            Windows & Linux
<hr>
Instalação de 

Servidores web, e-mail, cloud armazenamento pessoal

Servidores Windows active domain, DNS, DHCP  FILE SERVICE

Windows and Linux accesso remoto

          </div>
        </article>

      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <div align="center">
            <img src="https://img.icons8.com/clouds/100/000000/trust.png"/>
          </div>
          <p class="title">Aulas de informatica</p>
          <p class="subtitle">Aprenda sobre as tecnologias</p>
       
          <div class="content">
           Sistemas Operativos
            <hr>

A internet 
<hr>

Segurança
<hr>
Redes
<hr>
Softwares Individuais
<hr>
Hardware 
<hr>
Smartphone
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
                  <div align="center">

        <img src="https://img.icons8.com/clouds/100/000000/wrench.png"/>
      </div>
        <p class="title">Redes</p>
        <p class="subtitle">Administração de equipamentos que estão na LAN </p>
        <div class="content">
          
Configuração equipamento em casa routers & firewall 
<hr>
resetar a  password do wifi,
bloqueo de websites especificos,
configuração de acesso wifi a convidados,
politica de hora de acesso a internet 

        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
                  <div align="center">

<img src="https://img.icons8.com/clouds/100/000000/support.png"/>
  </div>
        <p class="title">Suporte</p>
        <p class="subtitle"> Apoio tecnico disponivel </p>
        <div class="content" >

<hr>

Linux Macosx & Windows : <small> Desbloqueo de password, hd & pen drive encriptação, instalação de sistema operativo instalação de software</small>
<hr>

Dropbox,google drive backup files configuration
  <hr>

Antivirus , Malware Spam , Remoção de anuncios
<hr>

Email (Gmail, Outlook, Yahoo), Rede sociais (Facebook, Watsup,) configuração de conta
<hr>

Manutenção e instalação de impressora
<hr>

Smartphone Ios & Android, configuração de conta e instalação de software.
<hr>

Video vigilancia dvr & nvr configuração 

        </div>
      </div>
    </article>
  </div>
</div>
      <br>
<div id="project-web">

      <section class="hero is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" align="center">Projectos</h1>
          </div>
        </div>
      </section>

	<section id="boxes">
		<div class="container">
		
           <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("basler.png"), "https://basler.herokuapp.com/" %>

    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Wayfarers&hairColor=Platinum&facialHairType=BeardLight&facialHairColor=Brown&clotheType=Hoodie&clotheColor=Gray02&eyeType=Hearts&eyebrowType=UpDown&mouthType=Twinkle&skinColor=Yellow" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Basler</p>
        <p class="subtitle is-6">O melhor apoio tecnológico </p>
      </div>
    </div>


  </div>
</div>

      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("maricostura.png"), "https://maricosturainc.herokuapp.com/"%>

    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=Hijab&accessoriesType=Round&hatColor=Heather&facialHairType=BeardMagestic&facialHairColor=Brown&clotheType=CollarSweater&clotheColor=Gray01&graphicType=Resist&eyeType=Surprised&eyebrowType=FlatNatural&mouthType=Smile&skinColor=Black" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Maricosturas</p>
        <p class="subtitle is-6">Partilhe as suas costuras</p>
      </div>
    </div>

  </div>
</div>


      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("lamport.png") , "https://lamport.herokuapp.com/"%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Kurt&hatColor=PastelRed&hairColor=BlondeGolden&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Red&eyeType=Surprised&eyebrowType=FlatNatural&mouthType=Twinkle&skinColor=Yellow" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Lamport</p>
        <p class="subtitle is-6">Adicione os seus apontamentos</p>
      </div>
    </div>

  
  </div>
</div>


      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("turma.png"), "http://turma.herokuapp.com/chats/show"%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
         <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairSides&accessoriesType=Round&hairColor=Brown&facialHairType=BeardMedium&facialHairColor=Platinum&clotheType=BlazerSweater&eyeType=Happy&eyebrowType=UpDownNatural&mouthType=Smile&skinColor=DarkBrown'", class: "is-rounded") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Turma</p>
        <p class="subtitle is-6">Conversa com a turma</p>
      </div>
    </div>

  </div>
</div>

	
			</div>
		</div>
	</section>
	      	<br>  
</div>
      <section class="hero is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" align="center">Informação</h1>
          </div>
        </div>
      </section>
      <br>
      <br>
  
      
      
    <div class="block">
      <div class="columns">
        <div class="column">

      <article class="message is-info">
        <div class="message-header" align="center">
          <p> Sobre mim </p>
        </div>
        <div class="message-body" align="center">

          <small>
            O meu nome é Heisler  tenho 29 anos , sou dedicado a ajudar pessoas que possuem problemas tecnicos.
           </small>
           <img src="https://img.icons8.com/plasticine/100/000000/about.png"/>
        </div>
      </article>
</div>

  </div> 
  </div>

 
    
	<br>

</body>

</html>	