<% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>

<html>

<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


	<title>[Heisler] </title>
</head>

<body>
 

  <div class="wrap">
    
  <div id="mainheader">
    
    <div class="logo">
            <%= link_to  image_tag("logo_blog.jpg" , width: "100"), root_path %>  

    </div>
    <div class="menu">
 

    <%= link_to "Assuntos", subscribers_show_path , class: ("active" if current_page?(subscribers_show_path)) %>
    <%= link_to "Blog", blogs_path , class: ("active" if current_page?(blogs_path)) %>
    <%= link_to "Noticias", stories_top_path , class: ("active" if current_page?(stories_top_path))%>
    <%= link_to "Preços", pdfjs.full_path(file: "/Preçario.pdf"), class: "nav-link",  target: "_blank"%>

    <%= link_to fa_icon('github') , "https://github.com/heislerlemos" ,   target: "_blank" %>
    <%= link_to fa_icon('facebook'), "https://www.facebook.com/wesley.lemos.33/", target: "_blank" %>
    <%= link_to fa_icon('twitter'), "https://twitter.com/heisler_lemos", target: "_blank" %>

      </div>
      </div>

</header>

  <div id="content">
    <h1> Cai na nossa invoção  </h1>
    <p> Contribui no crescimento tecnológico do nosso pais  </p>
    <br>

    <div id="button-landing ">
       <%= link_to "Agenda", subscribers_path  , class: "color1"   %>
           <%= link_to "Saiba mais sobre nos",  informations_index_path%>
     </div>
</div>
<!---wave --->
<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="white" fill-opacity="1" d="M0,96L48,133.3C96,171,192,245,288,266.7C384,288,480,256,576,208C672,160,768,96,864,85.3C960,75,1056,117,1152,138.7C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>

<!--- end of wave ---->
</div>
<br>
<br>
<div class="our-partner">
  <h3> A nossa comunidade fornece diversos serviços !</h3>
  <hr>
</div>



  <div class="columns is-multiline is-mobile">
    <div class="column">
      <%= link_to image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Wayfarers&hairColor=SilverGray&facialHairType=BeardMagestic&facialHairColor=BlondeGolden&clotheType=ShirtCrewNeck&clotheColor=PastelGreen&eyeType=Default&eyebrowType=RaisedExcited&mouthType=Eating&skinColor=Yellow"), suportes_index_path %>

      <p class="heading">Apoio tecnico disponivel </p>
      <p class="title">Suporte</p>
    </div>
  <div class="column">
              <%= link_to  image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Sunglasses&hairColor=BrownDark&facialHairType=BeardLight&facialHairColor=Auburn&clotheType=ShirtScoopNeck&clotheColor=Blue02&graphicType=Cumbia&eyeType=Close&eyebrowType=Default&mouthType=Eating&skinColor=Brown'"),  redes_index_path %>

      <p class="heading">Configuração de equipamentos da LAN </p>
      <p class="title">Redes</p>
    </div>
  <div class="column">
      <%= link_to image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairDreads&accessoriesType=Wayfarers&hairColor=Black&facialHairType=Blank&clotheType=GraphicShirt&clotheColor=White&graphicType=Skull&eyeType=Happy&eyebrowType=UpDownNatural&mouthType=Twinkle&skinColor=DarkBrown'"),  aulas_index_path  %>

      <p class="heading">Aprenda sobre as tecnologias</p>
      <p class="title">Aulas</p>
    </div>
  <div class="column">
    <%=  link_to image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Wayfarers&hairColor=Black&facialHairType=BeardLight&facialHairColor=Platinum&clotheType=ShirtVNeck&clotheColor=Blue02&eyeType=Close&eyebrowType=DefaultNatural&mouthType=Tongue&skinColor=Brown"), sistemas_index_path %>
      <p class="heading">Administração de sistemas </p>
      <p class="title">Sistemas</p>
    </div>
  <div class="column">
<%= link_to image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads02&accessoriesType=Kurt&hairColor=Red&facialHairType=Blank&clotheType=GraphicShirt&clotheColor=PastelBlue&graphicType=Diamond&eyeType=Default&eyebrowType=AngryNatural&mouthType=Default&skinColor=Pale"), websites_index_path %>
         <p class="heading">Construção de websites </p>
      <p class="title">Websites</p>

    </div>

</div>

</body>


</html>
