<% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>

<html>



<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


<title>[Heisler] </title>

</head>

<body>

  <div class="image_back">
<div class="container">
  <br>
      <br>
       <br>
    <div class="hero-body" style="height: 500px; ">
      <div align="center"  style="  float: left;">
	<p class="title is-3" style="color: white;">

      Se regista no nosso portal agora  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

    </p>
    <br>

    <br>

    <%= link_to "Comunidade Angolana de Informática",  subscribers_path , class: "button is-medium  is-link" %>


    </div>
    </div>
</div>
</div>
  <div class="container">

  <% 5.times do %>

  <br>

  <% end %>
<div class="our-partner">
    <div class="container">

  <h3> A nossa comunidade fornece diversos serviços <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
</h3>
  <hr>

  <div class="our-partner-inner">
    <div class="columns is-multiline ">

     
        
    <div class="column is-2">

      <p class="heading">Suporte </p>
                <p class="title"><%= fa_icon "users " %></p>

    </div>
   
  <div class="column is-2">
    <p class="heading">Redes </p>
          <p class="title"><%= fa_icon "cloud " %></p>

  </div>
 
  <div class="column is-2">
      <p class="heading">Formação TI</p>
      <p class="title"> <%= fa_icon "graduation-cap" %></p>
  </div>
  <div class="column is-3" >
      <p class="heading">Administração de sistemas </p>
      <p class="title"><%= fa_icon "windows" %></p>

  </div>
  
  <div class="column is-3">

<p class="heading">Construção de websites </p>
      <p class="title"><%= fa_icon "code" %></p>

  </div>
  <br>
  <br>
  <br>
  <div class="column is-12">
    <section class="hero is-warning">
  <div class="hero-body">
          <p>
      A cai resolve os seus problemas de computador, internet e esclarece duvidas de informática, antes de comprar um novo equipamento entre em contacto com a cai que daremos uma nova vida a seu equipamento antigo, poupe dinheiro  entre em contacto  agora <i class="fa fa-exclamation-circle" aria-hidden="true"></i><hr>

      
     Estamos situados no Complexo da Samba entre o Bairro Azul e a Mayanga
 seja nosso cliente agora livra-se dos problemas de computador <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

    </p>
    <p class="subtitle">
    </p>
  </div>
</section>
    </div>
  <div class="column is-12 ">
    <section class="hero is-danger">
  <div class="hero-body">
    <p class="title">
      Liga já na nossa linha de apoio : 934 659 342 - 942 869  655 - 923 957 488 <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

    </p>
  </div>
</section>
</div>
    
    </div>
    </div>
<!-- columns end here --->
    </div>

 <br>
<!--- About us -->
<br>
  
<section class="hero is-light">
  <div class="hero-body">
    <p class="title">
      Conheça a nossa equipa 
    </p>
   
  </div>
</section>

<br>
<br>
<div class="tile is-ancestor">

    <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Heisler </p>
      <p class="subtitle">Técnico</p>
  
<figure class="image is-128x128">
  <%= image_tag "heisler_1.png" , class: "is-rounded" %>

</figure>

    </article>
  </div>
  <div class="tile is-parent">



    <article class="tile is-child box ">
           <p class="title">Cassoma</p>
          <p class="subtitle">Vendas</p>
    
<figure class="image is-128x128">
  <%= image_tag "cassoma_1.png" , class: "is-rounded" %>

</figure>
    </article>


  </div>





  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Paulo</p>
      <p class="subtitle">Técnico</p>
    
  <figure class="image is-128x128">
  <%= image_tag "paulo.png" , class: "is-rounded" %>
</figure>
      <div class="content">

      </div>
    </article>
  </div>


</div>
<br>
<br>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child notification is-light">

           <article class="tile is-child box">


<br>
      <p class="title">Visão</p>
      <p class="subtitle">Ser uma das empresas de referência prestadora de serviços no mercado Angola, elevando a qualidade, a fiabilidade e expanção geógrafica dos nossos serviços</p>
      <div class="content">
          <p class="title">Missão</p>
          <p class="subtitle">Sofisticar os serviços aos clientes e tornar acessível a todos.</p>
         </article>

        </article>




  </div>

</div>
</div>


</body>

  <% 5.times do %>

  <br>

  <% end %>

</html>
