<% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>

<html>

<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


	<title>[Heisler] </title>
</head>

<body>
 
  
    <div class="mobile">
    <div class="desktop">
      <section class="hero">
        <div class="hero-body">

            <h1 class="title" align="center">Serviços </h1>

          <br>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <%= link_to image_tag("https://img.icons8.com/clouds/100/000000/support.png"), suportes_index_path %>

      <p class="heading">Apoio tecnico disponivel </p>
      <p class="title">Suporte</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
              <%= link_to  image_tag("https://img.icons8.com/clouds/100/000000/wrench.png"),  redes_index_path %>

      <p class="heading">Administração de equipamentos que estão na LAN </p>
      <p class="title">Redes</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <%= link_to image_tag("https://img.icons8.com/clouds/100/000000/trust.png"),  aulas_index_path  %>

      <p class="heading">Aprenda sobre as tecnologias</p>
      <p class="title">Aulas</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
    <%=  link_to image_tag("https://img.icons8.com/clouds/100/000000/online-support.png"), sistemas_index_path %>
      <p class="heading">Administração de sistemas </p>
      <p class="title">Sistemas</p>
    </div>
     </div>
  <div class="level-item has-text-centered">

    <div>
    <%= link_to image_tag("https://img.icons8.com/clouds/100/000000/maintenance.png"), websites_index_path %>
         <p class="heading">Construção de websites </p>
      <p class="title">Websites</p>

    </div>
  </div>

</nav>
</div>
</div>
</div>

      <section class="hero ">
        <div class="hero-body">
          <div class="container ">
            <br>
            <br>
            <h1 class="title" align="center">Projectos</h1>
          </div>
        </div>
      </section>
      <br>
          <br>
          <br>


<br>
<br>


<div  class="columns is-mobile is-multiline is-centered" >

<div class="card">
<div class="card-image">
<figure class="image is-4by3">
<%= link_to image_tag("basler.png"), "https://basler.herokuapp.com/" , target: "_blank" %>
</figure>
</div>
<div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Wayfarers&hairColor=Platinum&facialHairType=BeardLight&facialHairColor=Brown&clotheType=Hoodie&clotheColor=Gray02&eyeType=Hearts&eyebrowType=UpDown&mouthType=Twinkle&skinColor=Yellow" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Basler</p>
        <p class="subtitle is-6">O melhor apoio tecnológico </p>
      </div>
    </div>


  </div>
</div>

      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("maricostura.png"), "https://maricosturainc.herokuapp.com/", target: "_blank" %>

    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=Hijab&accessoriesType=Round&hatColor=Heather&facialHairType=BeardMagestic&facialHairColor=Brown&clotheType=CollarSweater&clotheColor=Gray01&graphicType=Resist&eyeType=Surprised&eyebrowType=FlatNatural&mouthType=Smile&skinColor=Black" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Maricosturas</p>
        <p class="subtitle is-6">Partilhe as suas costuras</p>
      </div>
    </div>

  </div>
</div>


      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("lamport.png") , "https://lamport.herokuapp.com/", target: "_blank" %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Kurt&hatColor=PastelRed&hairColor=BlondeGolden&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Red&eyeType=Surprised&eyebrowType=FlatNatural&mouthType=Twinkle&skinColor=Yellow" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Lamport</p>
        <p class="subtitle is-6">Adicione os seus apontamentos</p>
      </div>
    </div>


  </div>
</div>


      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("turma.png"), "http://turma.herokuapp.com/chats/show" , target: "_blank" %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
         <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairSides&accessoriesType=Round&hairColor=Brown&facialHairType=BeardMedium&facialHairColor=Platinum&clotheType=BlazerSweater&eyeType=Happy&eyebrowType=UpDownNatural&mouthType=Smile&skinColor=DarkBrown'", class: "is-rounded") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Turma</p>
        <p class="subtitle is-6">Conversa com a turma</p>
      </div>
    </div>

  </div>
      </div>


      
      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("circuit.png"), "http://circuit.ita.ao" , target: "_blank" %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
         <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Prescription02&hairColor=PastelPink&facialHairType=BeardLight&facialHairColor=Brown&clotheType=BlazerSweater&eyeType=WinkWacky&eyebrowType=UpDownNatural&mouthType=Twinkle&skinColor=Brown", class: "is-rounded") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Circuit</p>
        <p class="subtitle is-6">Teste o dns dos hosts </p>
      </div>
    </div>

  </div>
</div>



      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("speedtest.png"), "https://www.ita.ao/speedtest/", target: "_blank" %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
         <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Prescription02&hairColor=BrownDark&facialHairType=Blank&clotheType=ShirtScoopNeck&clotheColor=Blue03&eyeType=Default&eyebrowType=SadConcerned&mouthType=Twinkle&skinColor=Brown'", class: "is-rounded") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Speedtest</p>
        <p class="subtitle is-6">Verifique a velocidade da sua internet </p>
      </div>
    </div>

  </div>
</div>
</div>
<br>
<br>
</body>

<div id="particles-image-src"
  style="height: 200px; background-color:  hsl(0, 0%, 56%) ;  "
  data-controller="particles"
  data-particles-config="<%= {
    particles: {
    
      size: {
        value: 1,
        random: true,
      },
         "move": {
      "enable": true,
      "speed": 4,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  


    },
  }.to_json %>"
>
</div>

</html>
