<% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>



<script>
  function scrolldiv(elemento) {
  var elem = document.getElementById(elemento);
  elem.scrollIntoView();
  }


var i = 0;
var images = [];
var times = 3000;

images[0] = 'https://www.pexels.com/photo/young-woman-helping-senior-man-with-payment-on-internet-using-laptop-3823488.jpeg';
images[1] = 'https://www.pexels.com/photo/serious-ethnic-field-engineer-examining-hardware-and-working-on-laptop-442152.jpeg';
images[2] = 'https://www.pexels.com/photo/female-student-suffering-from-headache-in-library-3808057.jpeg';


// Mudança de plano
function changeImg(){
  document.slide.src = images[i];

  if(i < images.length - 1){
    i++;
  } else {
    i = 0;
  }
  setTimeout("changeImg()", times);

}

window.onload = changeImg;



</script>



<html>

<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


	<title>[Heisler] </title>
</head>

<body>
    <div class="mobile">
    <div class="desktop">
  <section id="showcase">



<h1 class="title is-1">

    CAI - Comunidade Angolana De Informatica

    <br>
    <br>
     <!---1"> Como lhe podemos ajudar ? </h1>-->
     <%= link_to "🙂 Como lhe podemos ajudar ?",  informations_index_path, class: "button is-info is-outlined is-large" %>

</h1>

<button onclick="scrolldiv('descer')" style="background-color: Transparent; border: none;" >
<img src="https://img.icons8.com/clouds/50/000000/down.png"/>

</button>
  <br>
  <br>
  <br>

  <br>

<div id="subir">


</div>

  </section>
      <section class="hero is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" align="center">Serviços </h1>

      <br>
        <!--
          <figure class="image is-16by9">
                    <img name="slide" width="50%" height="100" >
</figure>
-->
      <br>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <img src="https://img.icons8.com/clouds/100/000000/support.png"/>

      <p class="heading">Apoio tecnico disponivel </p>
      <p class="title">Suporte</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
              <img src="https://img.icons8.com/clouds/100/000000/wrench.png"/>

      <p class="heading">Administração de equipamentos que estão na LAN </p>
      <p class="title">Redes</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <img src="https://img.icons8.com/clouds/100/000000/trust.png"/>

      <p class="heading">Aprenda sobre as tecnologias</p>
      <p class="title">Aulas</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
    <img src="https://img.icons8.com/clouds/100/000000/online-support.png"/>
      <p class="heading">Administração de sistemas </p>
      <p class="title">Sistemas</p>
    </div>
     </div>
  <div class="level-item has-text-centered">

    <div>
    <img src="https://img.icons8.com/clouds/100/000000/maintenance.png"/>
         <p class="heading">Construção de websites </p>
      <p class="title">Websites</p>

    </div>
  </div>

</nav>
</div>
</div>
</section>
</div>
<br>
<br>
<br>
<br>
<div class="container">
      <section class="hero is-info">
        <div class="hero-body">
          <div class="container ">
            <h1 class="title" align="center">Projectos</h1>
          </div>
        </div>
      </section>
</div>
      <br>
          <br>
          <br>


<br>
<br>


<div  class="columns is-mobile is-multiline is-centered" >

<div class="card">
<div class="card-image">
<figure class="image is-4by3">
<%= link_to image_tag("basler.png"), "https://basler.herokuapp.com/" %>
</figure>
</div>
<div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Wayfarers&hairColor=Platinum&facialHairType=BeardLight&facialHairColor=Brown&clotheType=Hoodie&clotheColor=Gray02&eyeType=Hearts&eyebrowType=UpDown&mouthType=Twinkle&skinColor=Yellow" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Basler</p>
        <p class="subtitle is-6">O melhor apoio tecnológico </p>
      </div>
    </div>


  </div>
</div>

      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("maricostura.png"), "https://maricosturainc.herokuapp.com/"%>

    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=Hijab&accessoriesType=Round&hatColor=Heather&facialHairType=BeardMagestic&facialHairColor=Brown&clotheType=CollarSweater&clotheColor=Gray01&graphicType=Resist&eyeType=Surprised&eyebrowType=FlatNatural&mouthType=Smile&skinColor=Black" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Maricosturas</p>
        <p class="subtitle is-6">Partilhe as suas costuras</p>
      </div>
    </div>

  </div>
</div>


      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("lamport.png") , "https://lamport.herokuapp.com/"%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Kurt&hatColor=PastelRed&hairColor=BlondeGolden&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Red&eyeType=Surprised&eyebrowType=FlatNatural&mouthType=Twinkle&skinColor=Yellow" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Lamport</p>
        <p class="subtitle is-6">Adicione os seus apontamentos</p>
      </div>
    </div>


  </div>
</div>


      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("turma.png"), "http://turma.herokuapp.com/chats/show"%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
         <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairSides&accessoriesType=Round&hairColor=Brown&facialHairType=BeardMedium&facialHairColor=Platinum&clotheType=BlazerSweater&eyeType=Happy&eyebrowType=UpDownNatural&mouthType=Smile&skinColor=DarkBrown'", class: "is-rounded") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Turma</p>
        <p class="subtitle is-6">Conversa com a turma</p>
      </div>
    </div>

  </div>
</div>


      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= link_to image_tag("speedtest.png"), "https://www.ita.ao/speedtest/"%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
         <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Prescription02&hairColor=BrownDark&facialHairType=Blank&clotheType=ShirtScoopNeck&clotheColor=Blue03&eyeType=Default&eyebrowType=SadConcerned&mouthType=Twinkle&skinColor=Brown'", class: "is-rounded") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Speedtest</p>
        <p class="subtitle is-6">Verifique a velocidade da sua internet </p>
      </div>
    </div>

  </div>
</div>

			</div>
    </div>

	      	<br>


    <div id="descer" align="center">

  <button onclick="scrolldiv('subir')" style="background-color: Transparent; border: none;"><img src="https://img.icons8.com/clouds/50/000000/up.png"/></button>


            </div>
          </div>
</body>

</html>
