  <% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>

<html>
<head>
	<title>[Heisler] </title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
			<nav class="navbar is-dark">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <%= link_to image_tag("logo_website.png", :alt => "logo", :size => "152x128"), root_path %>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
   <!-- <div class="navbar-start">
      <a class="navbar-item" href="'welcomes#index">
        Home
      </a>-->
  <!---    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="abouts/index">
          About
        </a>
     
      </div> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://github.com/heislerlemos?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
              <span class="icon">
              	<%= fa_icon "github-alt" %>

              </span>
              <span>
                Github
              </span>
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</nav>
	</header>
	<section id="showcase">
		<div class="container">
			<h1>[Heisler] How can i help you ? </h1>
      <hr>
      <h2> Call:  +244 934-659-342</h2>
      <hr>
      <h2>Email:  heisler.lemos@gmail.com</h2>

		</div>
	</section>
  <% if cookies[:saved_subscriber] %>
  Thanks for signing up !
  <% else %>
    <section id="newsletter">
          <div class="container">

      <h1>Subscribe to my newsletter</h1>
  <%= form_for @subscriber do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.select :source, ["Search Engine", "Social Media", "Word of Mouth", "Other"], prompt: "How did you hear about me ? " %>
    <%= f.submit "Create", class: "button is-success is-small" %>
  </div>
      </section>

    <% end %>
  <% end %>

      <section class="hero is-dark">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" align="center">Services </h1>
          </div>
        </div>
      </section>

      <br>
      <br>
      <br>
      <br>
      

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
                    <div align="center">

          <img src="https://img.icons8.com/clouds/100/000000/maintenance.png"/>
        </div>
          <p class="title">Websites</p>

          <p class="subtitle">Construção de websites </p>
        </article>
        <article class="tile is-child notification is-warning">
                    <div align="center">

          <img src="https://img.icons8.com/clouds/100/000000/online-support.png"/>
        </div>
          <p class="title">Systems</p>
          <p class="subtitle">Administração de sistemas </p>
          <div class="content">
            Windows & Linux
<hr>
Instalation of

Webserver , Mailserver Cloud storage pessoal

Windows server Active Domain  ,DNS, DHCP  FILE SERVICE

Windows and Linux Remote access

          </div>
        </article>

      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <div align="center">
            <img src="https://img.icons8.com/clouds/100/000000/trust.png"/>
          </div>
          <p class="title">Teaching</p>
          <p class="subtitle">Aprenda sobre as tecnologias</p>
       
          <div class="content">
            Operative Systems
            <hr>

The internet 
<hr>

Security
<hr>
Network 
<hr>
Individual softwares
<hr>
Hardware 
<hr>
Smartphone
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
                  <div align="center">

        <img src="https://img.icons8.com/clouds/100/000000/wrench.png"/>
      </div>
        <p class="title">Network</p>
        <p class="subtitle">Administração de equipamentos que estão na LAN </p>
        <div class="content">
          
Config Home Routers & Firewall Devices , 
<hr>
Wifi password reset,
Specific websites access block,
Wifi network for guests,
Internet network hour policy 

        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
                  <div align="center">

<img src="https://img.icons8.com/clouds/100/000000/support.png"/>
  </div>
        <p class="title">Support</p>
        <p class="subtitle"> Apoio tecnico disponivel </p>
        <div class="content" >

<hr>

Linux, Mac osx, Windows : <small> Password Unlock , HD & Pen Drive Encriptation, Operative System Installation Software Installation</small>
<hr>

Dropbox,Google Drive Backup Files configuration
  <hr>

Antivirus , Malware Spam , Adds  Remover
<hr>

Email (Gmail, Outlook, Yahoo), Social Media (FACEBOOK, WATSUP,) Account setup
<hr>

Printer installation and maintenance
<hr>

Smartphone IOS & ANDROID , Account config,  Software installation.
<hr>

Dvr & nvr application configuration

        </div>
      </div>
    </article>
  </div>
</div>
      <br>
      <br>
      <br>
      <br>


      <section class="hero is-dark">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" align="center">Projects</h1>
          </div>
        </div>
      </section>

	<section id="boxes">
		<div class="container">
			<div class="card">
				<%= link_to image_tag("basler.png"), root_path %>
				  <div id="container1">
        <center>

        <a href="https://basler.herokuapp.com/">Basler IT - Info App</a>
        </center>

        </div>
			</div>

			<div class="card">
			  <%= link_to image_tag("maricostura.png"), root_path %>
			   <div id="container1">
                            <center>

                        <a href="https://maricosturainc.herokuapp.com/">Maricostura - Image App</a>

		      </center>
			</div>
			</div>

			<div class="card">
				<%= link_to image_tag("lamport.png"), root_path %>
							   <div id="container1">
                  <center>  
                <a href="https://lamport.herokuapp.com/">Lamport - Event App</a>

      </center>

			</div>
			</div>
			<div class="card">
				<%= link_to image_tag("turma.png"), root_path %>
				<div id="container1">
                  <center>  

				<a href="http://turma.herokuapp.com/chats/show">Turma - Chat App</a>
              </center>

			</div>
			</div>
		</div>
	</section>
	      	<br>  
      	 <br>
          <br>  
        <br>

      <section class="hero is-dark">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" align="center">Information</h1>
          </div>
        </div>
      </section>
      <br>
      <br>
         <br>
      <br>
      
      
    <div class="block">
      <div class="columns">
        <div class="column">

      <article class="message is-info">
        <div class="message-header" align="center">
          <p> About me</p>
        </div>
        <div class="message-body" align="center">

          <small>My name is Heisler Lemos i'm 29 , and i'm dedicated  to help people in need , when it comes whit technical  issues.
           </small>
           <img src="https://img.icons8.com/plasticine/100/000000/about.png"/>
        </div>
      </article>
</div>

  </div> 
  </div>
  </div>

  </div>


  </div>
 
    
	<br>
     <br>
      <br>
      
	<footer>

		 <center>
      <h5 style="color: lightgreen; font-size: 20px;"><small> Together against the Covid-19 </small></h5>
            <img src="https://img.icons8.com/clouds/100/000000/coronavirus.png"/>


        <br>
          <small style="color: black">
        <div class="container is-fullhd">
  <div class="notification">
       <%=  @statistics %>

          </div>
      </div>
      <br>
      <br>
        <div class="container is-fullhd">
  <div class="notification">
      <%= @angolastat %>
        </div>
      </div>
    </small>

      <br>
<figure class="image is-96x96">
	<%= image_tag("avataaars.png", class: "is-rounded") %>
</figure>
		<small>  You got 
      <h1 style="color: lightgreen; font-size: 25px; "><%= @ahoy %> </h1> 
      Visits on this website  </smal>
      <br>
      <div class="is-size-7"> Made with ruby on rails and bulma  Copyright Heisler Lemos &copy; 2020 </div>
		      </center>
	</footer>
</body>
</html>	