<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
  <title>Agenda</title>

</head>
<body>



<section class="hero is-light ">


  <div class="hero-body">

<div class="container">
    <%= form_for @subscriber do |f| %>

<div class="field">
	  <label class="label">Nome</label>
	    <div class="control has-icons-left has-icons-right">
    <%= f.text_field :name, placeholder: "Insira o seu nome " , class: "input is-primary"%>
       <span class="icon is-small is-left">
                    	<%= fa_icon "user" %>
    </span>

</div>
</div>



<div class="field">
		  <label class="label">Numero</label>
	    <div class="control has-icons-left has-icons-right">

 <%= f.number_field :number, placeholder: "Insira o seu número de telefone", class: "input is-primary" %>
        <span class="icon is-small is-left">
      		<%= fa_icon "phone" %>
        </span>

</div>
</div>

<div class="field" >
			  <label class="label">Email</label>
	    <div class="control has-icons-left has-icons-right">

    <%= f.email_field :email, placeholder: "Insira o seu endereço de email", class: "input is-primary" %>
            <span class="icon is-small is-left">
      		<%= fa_icon "envelope" %>
        </span>

</div>

<div class="field">

					  <label class="label">Feedback</label>
            <div class="select is-primary ">

    <%= f.select :source, ["Vizinhos", "Redes Sociais", "Negocio", "Agencia"], prompt: "Como ouviste acerca de mim ? "   %>

  </div>

  </div>
   </div>


<div class="field is-grouped">
     <%= f.submit "Enviar", class: "button is-primary" %>
</div>
 <% end %>
</div>
 </div>
</section>

<% if cookies[:saved_subscriber] %>
  Thanks for signing up !
  <% else %>
    <section id="newsletter">

<div align="center">

  <% end %>


</body>
</html>

<% 15.times do  %>
<br>

<% end %>
