<style>
#overall {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;



  
}


  </style>


<html>
      <%= stylesheet_link_tag    'subscribers', media: 'all', 'data-turbolinks-track': 'reload' %>

<head>
  <title>Agenda</title>

</head>


<body>


<div class="container">
 <section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Envie o seu pedido técnico .
    </p>
    <p class="subtitle">
      Num periodo de 24h  entraremos em contacto consigo .
    </p>
  </div>
 </section>
 <br>
<div id="overall">
    <%= form_for @subscriber do |f| %>

<div class="field">
	  <label class="label">Nome</label>
	    <div class="control has-icons-left has-icons-right">
    <%= f.text_field :name, placeholder: "Insira o seu nome " , class: "input is-dark"%>
       <span class="icon is-small is-left">
                    	<%= fa_icon "user" %>
    </span>

</div>
</div>


<br>
<div class="field">
		  <label class="label">Numero</label>
	    <div class="control has-icons-left has-icons-right">

 <%= f.number_field :number, placeholder: "Insira o seu número de telefone", class: "input is-dark"%>
        <span class="icon is-small is-left">
      		<%= fa_icon "phone" %>
        </span>

</div>
</div>
<br>
<div class="field" >
			  <label class="label">Email</label>
	    <div class="control has-icons-left has-icons-right">

    <%= f.email_field :email, placeholder: "Insira o seu endereço de email", class: "input is-dark" %>
            <span class="icon is-small is-left">
      		<%= fa_icon "envelope" %>
        </span>

</div>
	    <br>

	    <div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Assunto</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
	    <%= f.text_field :subject, placeholder: "Insira o seu nome " , class: "input is-dark"%>
      </div>
    </div>
  </div>
	    </div>
	    <br>
	    <div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label " >Pedido</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
	    <%= f.rich_text_area :issue, placeholder: "Por favor descreva o seu pedido " ,style: "background-color: white;"%>

      </div>
    </div>
  </div>
	    </div>
	    <br>
<div class="field " >

  <label class="label">Tecnologia </label>

            <div class="select is-dark ">

    <%= f.select :source, ["Redes", "Servidor", "Desktop", "Aplicação"], prompt: "Que tipo de suporte necessita ? "   %>

  </div>

  </div>
   </div>

<br>
<div class="field is-grouped">
     <%= f.submit "Enviar", class: "button is-large is-success " %>
</div>
 <% end %>
</div>
</div>
</body>
</html>
