
<div class="container">
  <section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Tickets dos clientes
    </p>
    <p class="subtitle">
      A resposta rapida ao pedido do cliente é importante .
    </p>
  </div>
</section>
  <br>

  
       <%= form_tag(subscribers_show_path, :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Encontre o nome do cliente ", class: "input is-info" , style: "width: 50%;" %>
       <%= submit_tag "Procurar",  class: "button is-info" %>
       <% end %>

       <% 4.times do %>

       <br>
       <% end %>

  
<div class="columns is-multiline  is-mobile is-centered">

<% @subscriber.each do |f| %>


<div class="card">
  <header class="card-header" style="background-color: lightgreen; color: white;">
    <p class="card-header-title" style="color: white;">
      <%= f.name %>
     

    </p>
    <div  class="card-header-icon" aria-label="more options">
      <span class="icon">
        <%= fa_icon("angle-down") %>
      </span>
    </div>
  </header>
  <div class="card-content" style="word-wrap: break-word; ">
    <div class="content" >
       <h6>Numero de Telefone</h6>
       <%= f.number %>
       <br>
       <br>
       <h6>     Assunto : </h6>
       <%= f.subject %>
       <br>
       <br>
      <h6> Pedido: </h6>
      <div id="coloring" style="color: black; font-size: 17px;" >
	   <%= f.issue  %>
      </div>
      <br>
      <h6>Email</h6>
      <%= f.email %>
      <br>
     
      <%= time_ago_in_words(f.created_at) %>
      
    </div>
    </div>
</div>

<% end %>
</div>
</div>
