<div class="container">
<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Lista dos produtos 
    </p>
    <p class="subtitle">
      <%= notice %>
    </p>
  </div>
</section>

<br>
<div align="center">
  <div class="box" style="width: 50%;">

    
  <p>
  <strong>Titulo:</strong>
  <%= @product.titulo %>
</p>
<p>
  <strong>Preco:</strong>
    <%= @product.preco %>

</p>
  </div>
 
<%= link_to 'Edit', edit_product_path(@product), class: "button" %> 
<%= link_to 'Back', products_path , class: "button" %>

</div>
</div>
