<!DOCTYPE html>
<html>
  <head>
    <title>[Heisler] How can i help you ? </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Start of  Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=8aff1c33-d4db-44ad-a985-9bb6fd6cd311"> </script>
<!-- End of  Zendesk Widget script -->


<script data-ad-client="ca-pub-9034325329206943" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  </head>
   <%= render template: "welcomes/header" %>

 
  <body>

<%= notice %>


    <%= yield%>

  </body>

   <%= render template: "welcomes/footer" %>

</html> 
