<!DOCTYPE html>
<html>
  <head>
    <title> Comunidade Angolana De Informatica </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Start of  Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=8aff1c33-d4db-44ad-a985-9bb6fd6cd311"> </script>
<!-- End of  Zendesk Widget script -->


<script data-ad-client="ca-pub-9034325329206943" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<meta name="msvalidate.01" content="0886CE95205FB195696229B14A3A6ACC" />
<meta name="google-site-verification" content="vqylBeMzgOhs4hMVGIlsdMDKALg4beidWopdEqBxSmM" />

  </head>
   <%= render template: "welcomes/header" %>


  <body>

<%= notice %>

<div id="container">
  <div id="main">

    <%= yield%>
    </div>

</div>


<footer id="footer">
   <%= render template: "welcomes/footer" %>
   </footer>

 </body>

</html>
