<!DOCTYPE html>

<script>
  function opennavFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

<html>
  <head>
    <title> Comunidade Angolana De Informatica </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msvalidate.01" content="0886CE95205FB195696229B14A3A6ACC" />
<meta name="google-site-verification" content="vqylBeMzgOhs4hMVGIlsdMDKALg4beidWopdEqBxSmM" />

  </head>


  <div class="topnav" id="myTopnav">

          <%= link_to "Bem Vindo", root_path  , class: ("active" if current_page?(root_path))   %>

      <%= link_to "Agenda", subscribers_path  , class: ("active" if current_page?(subscribers_path))   %>

    <%= link_to "Assuntos", subscribers_show_path , class: ("active" if current_page?(subscribers_show_path)) %>
    <%= link_to "Blog", blogs_path , class: ("active" if current_page?(blogs_path)) %>
    <%= link_to "Noticias", stories_top_path , class: ("active" if current_page?(stories_top_path))%>
    <%= link_to "Preços", pdfjs.full_path(file: "/Preçario.pdf"), class: "nav-link",  target: "_blank"%>
    <%= link_to "Sobre Nos",  informations_index_path  , class: ("active" if current_page?(informations_index_path))%>
  <a href="javascript:void(0);" class="icon" onclick="opennavFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


  <% if current_page?(root_path) %>
  <% render template: "welcomes/header" %>
  <style>
    #mainheader  a {
        text-decoration: none;
    font-size: 17px;
    color:  white;
    margin: 0 25px;
    font-weight: 300px;
    letter-spacing: 1px;
    }
    
#mainheader {
     top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
 
   background: linear-gradient(to top, transparent, rgba(0,0,0,0.7));



}

    
    </style>
   <% else %>
      <%= render template: "welcomes/header" %>
 <% end %>
  <body>
    
<%= notice %>

 <div id="container">
  <div id="main">

    <%= yield%>

    </div>
</div>

    
<footer id="footer">
   <%= render template: "welcomes/footer" %>
   </footer>

 </body>

</html>
