<!DOCTYPE html>
<html>
  <head>
    <title>Hlemos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
            <% flash.each do  |key, notice |%>

       <div class='alert alert-<%= key %> alert-dismissible'><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="notification is-primary">

            <%= notice %>
        </div>    

            <% end %>

    <% if notice %>
    <% end %>

    <%= yield%>


  </body>
</html>
