<!DOCTYPE html>
<html>
  <head>
    <title>Hlemos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
<% flash.each do |key, notice| %>
  <% if key === "notice" %>
           <div class='alert alert-<%= key %> alert-dismissible'><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>
  <% if key == "alert" %>
    <div class="notification is-warning is-marginless is-radiusless flash" data-controller="notification-dismissal">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>
  <% if key == "success" %>
    <div class="notification is-success is-marginless is-radiusless flash" data-controller="notification-dismissal">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>
  <% if key == "error" %>
    <div class="notification is-danger is-radiusless flash" data-controller="notification-dismissal">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <ul>
        <li><%= notice %></li>  
      </ul>
    </div>
  <% end %>
<% end %>
    <%= yield%>


  </body>
</html>
